<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>校园兼职网</title>

    <link href="vendors/@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
    <link href="vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <link href="vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="vendors/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <!-- Main styles for this application-->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet"/>
    <link href="vendors/pace-progress/css/pace.min.css" rel="stylesheet">
</head>
<body BGCOLOR="white">
<div class="Top">
    <img src="image/PartTimePlatform.jpg">
    <a href=""><img src="image/Navigation.jpg"></a>
    <a href=""><img src="image/Navigation1.jpg"></a>
    <a href=""><img src="image/Navigation2.jpg"></a>
    <a href=""><img class="SignIn" src="image/SignIn.jpg"></a>
</div>
<div class="content" id="items-manager">
    <div class="college">
        广州商学院校园兼职平台
    </div>
    <div class="TopPublicity">
        <a href=""> <img src="image/main.jpg"></a>
    </div>
    <div class="publicity">
        找校园兼职，上兼职平台，找你所找
    </div>
    <div class="type">
        类型：
        <a href="javascript:selectResult('/classification', '代课员')">代课员 &nbsp;</a>
        <a href="javascript:selectResult('/classification', '代拿员')">代拿员 &nbsp;</a>
        <a href="javascript:selectResult('/classification', '送餐员')">送餐员 &nbsp;</a>
        <a href="javascript:selectResult('/classification', '宣传员')">宣传员 &nbsp;</a>
        <a href="javascript:selectResult('/classification', '校园活动')">校园活动 &nbsp;</a>
        <a href="javascript:selectResult('/classification', '校外')">校外 &nbsp;</a>
        <a href="javascript:selectResult('/classification', '长工')">长工 &nbsp;</a>
        <a href="javascript:selectResult('/classification', '短工')">短工 &nbsp;</a>
        <a href="javascript:selectResult('/classification', '其他')">其他 &nbsp;</a>
    </div>
    <!--类型选项-->
    <div class="Requirement">
        <div class="btn-group ml-2">
            <button class="btn btn-sm btn-secondary" type="button">
                <font>结算方式</font>
            </button>
            <button class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" type="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </button>
            <div class="dropdown-menu" x-placement="bottom-start"
                 style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(78px, 32px, 0px);">
                <a class="dropdown-item" href="javascript:selectResult('/settlement', '次结')"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">次结</font></font></a>
                <a class="dropdown-item" href="javascript:selectResult('/settlement', '日结')"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">日结</font></font></a>
                <a class="dropdown-item" href="javascript:selectResult('/settlement', '月结')"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">月结</font></font></a>
            </div>
        </div>
        <!--第一个下拉-->
        <div class="btn-group ml-2">
            <button class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" type="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <font>性别需求</font>
            </button>
            <div class="dropdown-menu" x-placement="bottom-start"
                 style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(78px, 32px, 0px);">
                <a class="dropdown-item" href="javascript:selectResult('/sex', '男')"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">男</font></font></a>
                <a class="dropdown-item" href="javascript:selectResult('/sex', '女')"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">女</font></font></a>
            </div>
        </div>
        <!--第二个下拉-->
        <div class="btn-group ml-2">
            <button class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" type="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <font>工资最高</font>
            </button>
        </div>
        <!--第三个下拉-->
        <div class="btn-group ml-2">
            <button class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" type="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <font>校方发布</font>
            </button>
            <div class="dropdown-menu" x-placement="bottom-start"
                 style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(78px, 32px, 0px);">
                <a class="dropdown-item" href="javascript:selectResult('/jobtype', 'person')"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">个人发布</font></font></a>
                <a class="dropdown-item" href="javascript:selectResult('/jobtype', 'merchant')"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">商家发布</font></font></a>
            </div>
        </div>
        <!--第四个下拉-->
        <div class="btn-group ml-2">
            <button class="btn btn-sm btn-secondary" type="button">
                <font>最新发布</font>
            </button>
            </div>
        </div>
        <!--第五个下拉-->
    </div>
    <div class="task">
        <div class="form">
            <table class="table table-responsive-sm table-bordered" id="ordersTable">
                <tbody>
                <tr v-for="(item,index) in pageItems">
                    <td> <button class="btn btn-pill btn-success btn-sm" type="button">{{item.classification}}</button>>&nbsp;<a v-on:click="jumpOrderDetail()">{{item.title}}</a></td>
                    <td><i class="icon-user">{{item.needNumber}}</i></td>
                    <td><i class="cui-yen">{{item.salary}}</i></td>
                    <td>
                        <i class="fa fa-clock-o">{{item.createTime}}</i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="RightPublicity"></div>
    </div>
    <div class="list">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" v-on:click="previous()" aria-label="Previous">
                    <span aria-hidden="true">上一页</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <!--分页-->
            <li class="page-item" v-for="n in pageCount"
                v-bind:class="n==paging.offset+1 ? 'active' : ''">
                <a class="page-link" v-on:click="paging.offset = n-1">{{n}}</a>
            </li>
            <li class="page-item" v-if="isPageMore">
                <a class="page-link" v-on:click="more()">...</a>
            </li>
            <li class="page-item ">
                <a class="page-link" v-on:click="next()" aria-label="Next">
                    <span aria-hidden="true">下一页</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<footer class="app-footer">
    <div>
        <span>&copy;2015-2018兼职</span>
    </div>
    <div style="margin: 0 auto">
        <a href="">关于我们&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <a href="">联系我们</a>
    </div>
    <div class="ml-auto">
        <span>京ICP备15058772号</span>
        <a href=""></a>
    </div>
</footer>
</div>

<script src="vendors/jquery/js/jquery.min.js"></script>
<script src="vendors/popper.js/js/popper.min.js"></script>
<script src="vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="vendors/pace-progress/js/pace.min.js"></script>
<script src="vendors/perfect-scrollbar/js/perfect-scrollbar.min.js"></script>
<script src="vendors/@coreui/coreui/js/coreui.min.js"></script>
<script src="vendors/vue/vue.js"></script>
<script>
    var orders = [];
    var ordersVue = null;
    var pagingData = {
        total: 0,
        size: 10,
        offset: 0
    };
    var serviceUrl = {
        list: "/orders"
    };
    var selectResult = function (requestUrl, param) {
        $.ajax({
            url : requestUrl,
            type: 'POST',
            data :param,
            contentType:"application/json;charset=UTF-8",
            dataType: "json",
            success : function (response) {
                orders.splice(0, orders.length);
                for (var i = 0; i < response.length; i++) {
                    orders.push(response[i]);
                }
            }
        });
    };

    $(function () {

        $.ajax({
            url : "/length",
            success : function (response) {
                pagingData.total = response;
            }
        });
        var listUrlForCurrentPage = serviceUrl.list + "?offset=" + pagingData.offset + "&size=" + pagingData.size;
        $.getJSON(listUrlForCurrentPage, function (json) {
            orders = json;
            ordersVue = new Vue({
                el: '#items-manager',
                data: {
                    items: orders,
                    paging: pagingData
                },
                computed: {
                    pageItems: function () {
                        return this.items.filter(function (value, index) {
                            return ((index >= pagingData.offset * pagingData.size) && (index < (pagingData.offset + 1) * pagingData.size));
                        });
                    },
                    pageCount: function () {
                        var pageCount = Math.ceil(this.paging.total / this.paging.size);
                        return pageCount;
                    },
                    isPageMore: function (pageNumber) {
                        var pageCount = Math.ceil(this.paging.total / this.paging.size);
                        return pageCount > 10;
                    }
                },
                methods: {
                    previous: function () {
                        if (this.paging.offset > 0) {
                            this.paging.offset -= 1;
                        }
                    },
                    next: function () {
                        if (this.paging.offset < (this.pageCount - 1)) {
                            this.paging.offset += 1;
                        }
                    },
                    more: function () {

                    },
                    jumpOrderDetail: function () {

                    }
                }
            });
            ordersVue.$watch('paging.size', function (newVal, oldVal) {

            });
            ordersVue.$watch('paging.offset', function (newVal, oldVal) {

            });
        });
    });
</script>
</body>
</html>