<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>校园兼职网</title>

    <link th:href="@{/vendors/@coreui/icons/css/coreui-icons.min.css}" rel="stylesheet">
    <link th:href="@{/vendors/flag-icon-css/css/flag-icon.min.css}" rel="stylesheet">
    <link th:href="@{/vendors/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/vendors/simple-line-icons/css/simple-line-icons.css}" rel="stylesheet">
    <!-- Main styles for this application-->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/detail.css}" rel="stylesheet"/>
    <link th:href="@{/vendors/pace-progress/css/pace.min.css}" rel="stylesheet">
</head>
<style>


    /*导航栏样式*/
    @font-face {
        font-family: hanzhen;
        src: url("../../static/hanzhen.ttf");
    }

    .head {
        width: 100%;
        background-color: #B5B4B2;
        display: flex;
        justify-content: space-between;
    }

    .header_body {
        display: flex;
        justify-content: center;
    }

    .around {
        padding: 0px 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .until {
        background-color: #C3C3C3;
        padding: 10px 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: flex-end;
    }

    .until:hover {
        background-color: #CFCFCF;
    }

    .until > img {
        width: 40px;
        height: 40px
    }

    .select_until {
        background-color: #F2E61E;
        padding: 0px 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .select_until > img {
        width: 47px;
        height: 47px;
    }

    /*导航栏样式*/


</style>
<body style="background-color: white;display: flex;flex-direction: column;justify-content: center">
<!--<div class="Top">-->
<!--<img src="../../image/PartTimePlatform.jpg">-->
<!--<a href=""><img src="../../image/Navigation.jpg"></a>-->
<!--<a href=""><img src="../../image/Navigation1.jpg"></a>-->
<!--<a href=""><img src="../../image/Navigation2.jpg"></a>-->
<!--<a href=""><img class="SignIn" src="../../image/SignIn.jpg"></a>-->
<!--</div>-->
<header class="head">
    <div class="around">
        <img src="../../image/icon/home.svg" width="50px" height="50px">
        <div style="font-family: hanzhen;font-size: 1.5em;color: white">兼职平台</div>
    </div>
    <div class="header_body" style="margin-left: -100px">
        <div class="until">
            <img src="../../image/icon/flag.svg" onclick="history()">
        </div>
        <div class="select_until">
            <img src="../../image/icon/sign_select.svg">
            <div style="color: white;font-family: hanzhen">找兼职</div>
        </div>
        <div class="until">
            <img src="../../image/icon/letter.svg" onclick="release()">
        </div>
    </div>
    <div class="around">
        <img src="../../image/icon/my.svg" width="40px" height="40px" onclick="sign()">
    </div>
</header>

<nav class="text-center p-5"><img src="../../image/title.jpg"></nav>


<div class="content align-self-center" style="width: 1000px" id="item-manager">
    <div style="margin-top:1% ">
    <span class="college">
        <A href="/order/goMain"> 广州商学院校园兼职平台</A>
        <A> &nbsp;>&nbsp;兼职详情</A>
    </span>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div CLASS="jianzhi">
        <span style="width: 100%">
        <h3 style="margin-top: 3%;">&nbsp;&nbsp;&nbsp;{{item.title}}</h3><br>
            <a style="margin-left: 5%"><i class="fa fa-yen fa-lg " style="color: red">{{item.salary}}</i></a>
            <a style="font-size: 80%">{{item.settlementMethod}}</a>
            <a style="margin-left: 23%">{{item.settlementMethod}}&nbsp;&nbsp;|&nbsp;&nbsp;{{item.needNumber}}人&nbsp;&nbsp;|&nbsp;&nbsp;{{item.createTime}}</a>
            <br>
               <button id="get_job" class="btn btn-square btn-warning" type="button" style="margin-left: 5%;margin-top: 5%" onclick="saveOrder()">
                   <i class="fa fa-lightbulb-o"></i>&nbsp;领取任务
               </button>

        </span>
            </div>
            <div class="xiangqing">
        <span style="width: 100%">
        <h4 style="margin-left: 5%">兼职详情</h4>
            <HR style="width: 70%;margin-left: 5%">

            <button class="btn btn-pill btn-success btn-sm" type="button">{{item.sex}}</button>
            <button class="btn btn-pill btn-success btn-sm" type="button">{{item.salary}}元</button>
            <button class="btn btn-pill btn-success btn-sm" type="button">{{item.needNumber}}人</button>
            <button class="btn btn-pill btn-success btn-sm" type="button">{{item.settlementMethod}}</button>
            <br>
            <p style="font-size: large;margin-left: 5%">工作地点：{{item.place}}</p>
            <p style="font-size: large;margin-left: 5%">工作内容：</p>
            <p style="margin-left: 7%;line-height: 25px">工作职责：<br>{{item.content}}</p>
        </span>
            </div>
        </div>
        <div class="col-md-4">
            <div CLASS="boss">
                <div style="text-align: center">
                    <img th:src="${user.headIcon.substring(36)}" style="width: 150px;height: 150px;">
                </div>
                <div style="padding: 10px;text-align: center">
                    <h4 th:text="${user.name}"></h4>
                    <br><br>
                    <h5>联系方式：</h5><h5 th:text="${user.phone}"></h5>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="app-footer">
    <div>
        <span>&copy;2015-2018兼职</span>
    </div>
    <div style="margin: 0 auto">
        <a href="">关于我们&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <a href="">联系我们</a>
    </div>
    <div class="ml-auto ">
        <span>京ICP备15058772号</span>
        <a href=""></a>
    </div>
</footer>

<div class="modal " id="message-modal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog  modal-danger" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="message-modal-title">信息</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body font-weight-bold" id="message-modal-content">
                显示信息！
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
</body>
<script th:src="@{/vendors/jquery/js/jquery.min.js}"></script>
<script th:src="@{/vendors/popper.js/js/popper.min.js}"></script>
<script th:src="@{/vendors/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/vendors/pace-progress/js/pace.min.js}"></script>
<script th:src="@{/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js}"></script>
<script th:src="@{/vendors/@coreui/coreui/js/coreui.min.js}"></script>
<script th:src="@{/vendors/vue/vue.js}"></script>
<script>
    function showMessageModal(title, content, typeClass) {
        $('#message-modal-title').text(title);
        $('#message-modal-content').text(content);
        $('#message-modal .modal-dialog').removeClass('modal-primary');
        $('#message-modal .modal-dialog').removeClass('modal-success');
        $('#message-modal .modal-dialog').removeClass('modal-warning');
        $('#message-modal .modal-dialog').removeClass('modal-danger');
        $('#message-modal .modal-dialog').removeClass('modal-info');
        if ("modal-primary" === typeClass) {
            $('#message-modal .modal-dialog').addClass('modal-primary');
        }
        if ("modal-success" === typeClass) {
            $('#message-modal .modal-dialog').addClass('modal-success');
        }
        if ("modal-warning" === typeClass) {
            $('#message-modal .modal-dialog').addClass('modal-warning');
        }
        if ("modal-danger" === typeClass) {
            $('#message-modal .modal-dialog').addClass('modal-danger');
        }
        if ("modal-info" === typeClass) {
            $('#message-modal .modal-dialog').addClass('modal-info');
        }
        $('#message-modal').modal('show');
    }


    var orderDetail = JSON.parse(sessionStorage.getItem("orderDetail"));
    var orderDetailVue = null;

    var isReceiveFromResponse;
    $(function () {
        //判断是否领取兼职 把领取兼职按钮设为已领取，设置数据
        $.ajax({
            url: "/order/isreceive",
            type: 'POST',
            data: orderDetail.id,
            contentType: "application/json;charset=UTF-8",
            success: function (response) {
                isReceiveFromResponse = response;
                if (isReceiveFromResponse) {
                    $("#get_job").text("已领取");
                    $("#get_job").attr("disabled","disabled");
                }else {
                    $("#get_job").text("领取任务")
                }

                orderDetailVue = new Vue({
                    el: '#item-manager',
                    data: {
                        item: orderDetail,
                        isReceive: isReceiveFromResponse
                    }
                });
            }
        });
    });









    orderDetailVue = new Vue({
        el: '#item-manager',
        data: {
            item: orderDetail
        }
    });
    $(function () {

    });

    function main() {
        window.open("/order/goMain", '_self');
    }

    function release() {
        window.open("/order/goRelease",'_self');
    }

    function sign() {
        window.open("/order/goFirst",'_self');
    }

    function history() {
        window.open("/order/history",'_self');
    }

    function saveOrder() {
        var button=event.target;
        $.ajax({
            url:'/save_order',
            success:function (res) {
                if(res==1){
                    showMessageModal("成功","领取成功","modal-success");
                    $(button).text("领取成功");
                    $(button).attr("disabled","disabled");
                } else if (res==0) {
                    showMessageModal("失败","领取失败","modal-danger");
                }else if (res==2) {
                    showMessageModal("失败","人数已满","modal-warning");
                    $(button).text("人数已满");
                    $(button).attr("disabled","disabled");
                }
            }
        });
    }
</script>
</body>
</html>