<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>CoreUI Free Bootstrap Admin Template</title>
    <!-- Icons-->
    <link th:href="@{/vendors/@coreui/icons/css/coreui-icons.min.css}" rel="stylesheet">
    <link th:href="@{/vendors/flag-icon-css/css/flag-icon.min.css}" rel="stylesheet">
    <link th:href="@{/vendors/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/vendors/simple-line-icons/css/simple-line-icons.css}" rel="stylesheet">
    <!-- Main styles for this application-->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/vendors/pace-progress/css/pace.min.css}" rel="stylesheet">
</head>
<body class="app flex-row align-items-center" style="background-image: url('../../image/GZCC.jpg');background-position:center; background-repeat:no-repeat; " >
<div class="container" >
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card-group">
                <div class="card p-4" STYLE="opacity: 0.95;" >
                    <div class="card-body" style="padding:30px 50px;" >
                        <form action="/user/register_form" method="post" class="needs-validation" id="registerForm" >
                        <div style="padding:10px 20px;"><h3> <i class="icons font-2xl  mt-4 cui-star"></i>欢迎加入校园兼职平台注册<i class="icons font-2xl  mt-4 cui-star"></i></h3></div>
                        <h8>请按情况认真填写以下信息：</h8>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="icon-user"></i>
                                </span>
                            </div>
                            <input class="form-control" type="text" id="name" name="name" placeholder="请输入用户名" required>
                            <div class="invalid-feedback">
                                用户名不能为空！
                            </div>
                        </div>



                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icons cui-lock-unlocked"></i>
                    </span>
                            </div>
                            <input class="form-control" type="password" id="password" name="password" placeholder="请输入密码" required>
                            <div class="invalid-feedback">
                                密码不能为空！
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="icons cui-lock-locked"></i>
                                </span>
                            </div>
                            <input class="form-control" type="password" id="rePassword" name="rePassword" placeholder="再次确认密码" required>
                            <div class="invalid-feedback">
                                再次输入密码不能为空！
                            </div>
                        </div>

                        <div class="input-group mb-3" >
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="icons cui-envelope-closed"></i>
                                </span>
                            </div>
                            <input class="form-control" type="text" id="email" name="email" placeholder="请输入邮箱" required>
                            <div class="invalid-feedback">
                                邮箱不能为空！
                            </div>
                        </div>

                        <div class="input-group mb-3" >
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="icons cui-phone"></i>
                                </span>
                            </div>
                            <input class="form-control" type="text" id="phone" name="phone" placeholder="请输入手机号" required>
                            <div class="invalid-feedback">
                                手机号不能为空！
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="files" class="col-sm-2 col-form-label">头像</label>
                            <div class="col-sm-10">
                                <div class="custom-file">
                                    <input type="file" id="files" class="custom-file-input">
                                    <label for="files" class="custom-file-label">Choose file
                                    </label>
                                </div>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label for="sex-male" class="col-sm-2 col-form-label">性别</label>
                            <div class="col-sm-10">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" value="1" id="sex-male" name="sex"  class="custom-control-input" checked>
                                    <label for="sex-male" class="custom-control-label">
                                        <i class="icons cui-user"></i>男
                                    </label>
                                </div>
                                    <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" value="0" id="sex-female" name="sex" class="custom-control-input" >
                                    <label for="sex-female" class="custom-control-label">
                                        <i class="icons cui-user-female"></i>女
                                    </label>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-6">
                                <button class="btn btn-primary px-4" type="button" onclick="registerOn()" style="position:absolute; left:70%; right:50%;">立即注册</button><br>
                            </div>
                        </div>
                        </form>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal " id="message-modal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog  modal-danger" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="message-modal-title">信息</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body font-weight-bold" id="message-modal-content">
                显示信息！
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- CoreUI and necessary plugins-->
<script th:src="@{/vendors/jquery/js/jquery.min.js}"></script>
<script th:src="@{/vendors/popper.js/js/popper.min.js}"></script>
<script th:src="@{/vendors/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/vendors/pace-progress/js/pace.min.js}"></script>
<script th:src="@{/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js}"></script>
<script th:src="@{/vendors/@coreui/coreui/js/coreui.min.js}"></script>

<script>
    function showMessageModal(title, content, typeClass) {
        $('#message-modal-title').text(title);
        $('#message-modal-content').text(content);
        $('#message-modal .modal-dialog').removeClass('modal-primary');
        $('#message-modal .modal-dialog').removeClass('modal-success');
        $('#message-modal .modal-dialog').removeClass('modal-warning');
        $('#message-modal .modal-dialog').removeClass('modal-danger');
        $('#message-modal .modal-dialog').removeClass('modal-info');
        if ("modal-primary" === typeClass) {
            $('#message-modal .modal-dialog').addClass('modal-primary');
        }
        if ("modal-success" === typeClass) {
            $('#message-modal .modal-dialog').addClass('modal-success');
        }
        if ("modal-warning" === typeClass) {
            $('#message-modal .modal-dialog').addClass('modal-warning');
        }
        if ("modal-danger" === typeClass) {
            $('#message-modal .modal-dialog').addClass('modal-danger');
        }
        if ("modal-info" === typeClass) {
            $('#message-modal .modal-dialog').addClass('modal-info');
        }
        $('#message-modal').modal('show');
    }

    function registerOn(){
        var form = document.getElementById("registerForm");
        if (form.checkValidity() === true) {
            var username=$("#name").val();
            var password=$("#password").val();
            var email=$("#email").val();
            var phone=$("#phone").val();
            var sex=$('input:radio[name="sex"]:checked').val();
            var user ={name:username,password:password,email:email,phone:phone,sex:sex};
            var formData = new FormData();
            formData.append("user", new Blob([JSON.stringify(user)], {
                type: "application/json"
            }));

            var fileInput = document.getElementById("files");
            var files = fileInput.files;
            for(var i = 0; i < files.length; i++) {
                var file = files[i];
                formData.append('files', file, file.name);
            }

            $.ajax({
                url: "/user/register_form",
                type: "POST",
                data: formData,
                async: true,        //异步
                processData: false,  //很重要，告诉jquery不要对form进行处理
                contentType: false,  //很重要，指定为false才能形成正确的Content-Type
                success: function(res){
                    window.open('/user/register_action','_self');
                }
            });
            return;
        }
        form.classList.add('was-validated');
    }

    $("#name").blur(function () {
        var username=$("#name").val();
        if (username!='') {
            $.ajax({
                type: "POST",
                url: "/user/confirmName",
                async:true,
                contentType: 'application/json',
                data: username,
                dataType: "json",
                success:function (data) {
                    if(data==1){
                        //showMessageModal("成功","正常登陆","modal-success");
                    } else{
                        showMessageModal("失败","该用户已存在","modal-danger");
                    }
                }
            })
        }
    })

    $("#rePassword").blur(function () {
        var password=$("#password").val();
        var rePassword=$("#rePassword").val();
        var message = [];
        message[0] = password;
        message[1] = rePassword;
        if (password!='' && rePassword!='') {
            $.ajax({
                type: "POST",
                url: "/user/confirmPassword",
                async:true,
                contentType: 'application/json;charset=utf-8',
                data: JSON.stringify(message),
                dataType: "text",
                success:function (data) {
                    if(data==1){
                        // showMessageModal("成功","正常登陆","modal-success");
                    }
                    else{
                        showMessageModal("失败","两次输入的密码不一致","modal-danger");
                    }
                }
            })
        }
    })

    $("#email").blur(function () {
        var email=$("#email").val();
        if (email!='') {
            $.ajax({
                type: "POST",
                url: "/user/confirmEmail",
                async:true,
                contentType: 'application/json',
                data: email,
                dataType: "json",
                success:function (data) {
                    if(data==1){
                        //showMessageModal("成功","正常登陆","modal-success");
                    } else{
                        showMessageModal("失败","邮箱格式错误","modal-danger");
                    }
                }
            })
        }
    })

    $("#phone").blur(function () {
        var phone=$("#phone").val();
        if (phone!='') {
            $.ajax({
                type: "POST",
                url: "/user/confirmPhone",
                async:true,
                contentType: 'application/json',
                data: phone,
                dataType: "json",
                success:function (data) {
                    if(data==1){
                        //showMessageModal("成功","正常登陆","modal-success");
                    } else{
                        showMessageModal("失败","手机号码格式错误","modal-danger");
                    }
                }
            })
        }
    })
</script>
</body>
</html>