/**{*/
/*padding: 0;*/
/*margin:0;*/
/*text-decoration: none;*/
/*color: black;*/
/*list-style-type:none;*/
/*}*/
body{
    background-color: white;
}
.table>tbody>tr>td{
    border:none;
}
.Top{
    background-color: #c8ced3;
    height:50px;
}
.college{
    margin-left: 10%;
    margin-top: 1%;
    text-align:center;

}

.jianzhi{
    padding-bottom: 35px;
    border: 1px solid #d1dbe1;
    margin-left: 15%;
    display: flex;
    margin-top: 0.5%;
}
.xiangqing>span>h4{
    margin-top: 5%;
}
.xiangqing{

    border: 1px solid #d1dbe1;
    margin-left: 15%;
    display: flex;
    margin-top: 0.5%;
}
.boss{
    padding: 40px;
    height: 300px;
    border: 1px solid #d1dbe1;
    margin-left: 1%;
    display:inline-block;
    margin-top: 1%;
}
.btn-pill{
    margin-left: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-size: small;

}
.form{
    width:70%;
    height: 500px;
    border: 1px solid #d1dbe1;
    margin-left: 10%;
    display: flex;
    margin-top: 0.5%;
    float: left;
}
.form li{
    display: flex;
    border-bottom:1px solid #000;
    height:50px;
    margin: 0;
    line-height: 50px;
}
.RightPublicity{
    display: flex;
    width:15%;
    height: 500px;
    border: 1px solid #d1dbe1;
    float: right;
    margin-right: 15%;
    margin-left: 0.5%;
    margin-top: 0.5%;
}
.list{
    margin-left: 10%;
    margin-top: 1%;
}