<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/test/register" method="get">
    <table>
        <tr>
            <th>用户名:<input type="text" id="name" name="name"></th>
        </tr>
        <tr>
            <th>密码:<input type="text" id="password" name="password"></th>
        </tr>
        <tr>
            <th>邮箱:<input type="text" id="email" name="email"></th>
        </tr>
        <tr>
            <th>出生日期:<input type="text" id="birthday" name="birthday"></th>
        </tr>
        <tr>
            <th><input type="radio" name="sex" value="男" checked>男<input type="radio" name="sex" value="女">女</th>
        </tr>
        <tr>
            <th><input type="submit" value="注册"></th>
        </tr>
    </table>
</form>
</body>
</html>