<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/test/login_action" method="get">
    <table align="center">
        <tr>
            <th>用户名:<input type="text" id="name" name="name"></th>
        </tr>
        <tr>
            <th>密&nbsp;&nbsp;&nbsp;&nbsp;码:<input type="text" id="password" name="password"></th>
        </tr>
        <tr align="center">
            <th><input type="submit" value="登录"></th>
        </tr>
    </table>
</form>

</body>
</html>